@font-face {
    font-family: 'Conv_04B_19__';
    src: url('./images/font/04B_19__.eot?#iefix') format('embedded-opentype'), 
        url('./images/font/04B_19__.woff') format('woff'), 
        url('./images/font/04B_19__.ttf')  format('truetype'),
        url('./images/font/04B_19__.svg#svgFontName') format('svg');
}

h1, h2, h3, div, span { font-family: '04b_19', 'Georgia', serif; }

.Player {
	background-image: url('../images/bird.png');
	position: absolute;
	width: 3.4em;
	height: 2.4em;
	-webkit-animation: animBird 300ms steps(4) infinite;
	-moz-animation: animBird 300ms steps(4) infinite;
	animation: animBird 300ms steps(4) infinite;
	transform: translateZ(0);
	z-index: 10;
}

.Player-up{
	background-image: url('../images/bird-up.png');
}

.Player-down{
	background-image: url('../images/bird-down.png');
}

@-webkit-keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}
@-moz-keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}
@-o-keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}
@keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}


.Ground {
	background-image: url("../images/land.png");
	/*bottom: 0;*/
	position: relative;
	display: inline-block;
	background-position: bottom;
	/*margin-top: 45.5%;*/
	/*left: -30em;
	right: -30em;*/
	/*position: relative;*/
	background-repeat: repeat-x;
	height: 11.2em;
	width: 400%;
	transform: translateZ(0);
	-webkit-animation: animGround 300ms steps(4) infinite;
	-moz-animation: animGround 300ms steps(4) infinite;
	animation: animGround 300ms steps(4) infinite;
	/*z-index: 10;*/
}

@-webkit-keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}
@-moz-keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}
@-o-keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}
@keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}

.sky {
	position: relative;
	/*margin-left: -51.2em;
	margin-top: -28.8em;*/
	display:block;
	
	/*background-position: 0 76%;*/
	/*transform: translateZ(0);*/
	/*height: 70%;
	bottom: 0;*/
	/*margin-top: 45.5%;*/
	/*left: -30em;
	right: -30em;*/
	/*width: 400%;*/
	/*transform: translateZ(0);
	-webkit-animation: animSky 300ms steps(4) infinite;
	-moz-animation: animSky 300ms steps(4) infinite;
	animation: animSky 300ms steps(4) infinite;*/
	/*z-index: 1;*/
	height: 46.4em;
	background-repeat: repeat-x;
	background-color: #4ec0ca;
	background-image: url("../images/sky.png");
    /*background-attachment: fixed;*/
   	background-position: bottom; /*Positioning*/
	transform: translateZ(0);
	-webkit-animation: animSky 600ms steps(4) infinite;
	-moz-animation: animSky 600ms steps(4) infinite;
	animation: animSky 600ms steps(4) infinite;
}

@-webkit-keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}
@-moz-keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}
@-o-keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}
@keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-ms-transform: translate(0, -40em);
	-moz-transform: translate(0, -40em);
	-o-transform: translate(0, -40em);
	transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
	-o-transition: -webkit-transform 0.5s;
	-moz-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;

}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard-is-visible {
	-webkit-transform: none;
	-o-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;

}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.GameCanvas  {
	font-size: 10px;
	position: absolute;
	/*left: 50%;
	top: 50%;*/
	width: 51.2em;
	height: 57.6em;

	overflow: hidden;
}

.testClass {
	background-color:black;
}
/*.Pipes {
    background-image: url('../images/pipe-body.png'), url('../images/pipe-up.png'), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));

	position: absolute;
	bottom: 0;
	width: 3.4em;
	height: 10em;
	
}*/

/*.Pipes {
	position: absolute;
	background: url('../images/pipe-b.png');
	width: 3.4em;
	height: 50%;
	transform: translateZ(0);
}

.Pipes-up {

}

.Pipes-down {

}*/

.Pipes {
    position: absolute;
    top: -30.4em;
    width: 100000px;
    /*bottom: 40.8em;*/
}
.pipesContainer {
    float: left;
    /*margin-right: 6em;*/
}
.pipe {
    width: 4em;
    height: 45em;
    position: relative;
    /*z-index: 2;*/
    background: url('../images/pipe-b.png');
	/*z-index: 0;*/
}
.gap {
    width: 100%;
	height: 10em;
}
.pipe-topHalf {
	background-position: bottom;
}
.pipe-bottomHalf {
	background-position: top;
}

.score {
	position: absolute;
	color: white;
	font-size: 4em;
	box-sizing: border-box;
	background: black;
	text-align: center;
}

.Settings {
	position: absolute;
	background: yellow;
	width: 10em;
	height: 2em;
	bottom: 0;
}

.Mute {
	background-image: url("../images/mute.png");
	background-size: 70%;
	width: 3em;
	height: 100%;
	float: left;
	background-repeat: no-repeat;
}
.Pause {
	background-image: url("../images/pause.png");
	background-size: 70%;
	width: 3em;
	height: 100%;
	float: left;
	background-repeat: no-repeat;
}

.Current {
	height: 100%;
	width: 100%;
	font-size: 2em;
}

.one {
	position: absolute;
	right: 0;
	background-color: yellow;	
	height: 57.6em;
	width: 5em;
}