@font-face {
    font-family: 'Conv_04B_19__';
    src: url('../font/04B_19__.eot?#iefix') format('embedded-opentype'), 
        url('../font/04B_19__.woff') format('woff'), 
        url('../font/04B_19__.ttf')  format('truetype'),
        url('../font/04B_19__.svg#svgFontName') format('svg');
}

.Player {
	height: 2.8em;
	width: 4em;
	background: url('../images/bird_Sprite.png');
	position: absolute;
	bottom: 50%;
	left: 130px;
	z-index: 3;
  	animation: birdFlap 0.2s steps(3, end) infinite alternate;
  	transition: transform 0.3s;
	transform: translateZ(0);
}


@keyframes birdFlap {  
  0% {background-position: 0 84px;}
  100% {background-position: 0 0;}
}

.Ground {
	background-image: url("../images/land.png");
	position: relative;
	display: inline-block;
	background-position: bottom;
	background-repeat: repeat-x;
	height: 11.2em;
	width: 400%;
	transform: translateZ(0);
	-webkit-animation: animGround 300ms steps(4) infinite;
	-moz-animation: animGround 300ms steps(4) infinite;
	animation: animGround 300ms steps(4) infinite;
}

@-webkit-keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}
@-moz-keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}
@-o-keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}
@keyframes animGround {
   from { background-position: 0 0; }
   to { background-position: 5em 0; }
}

.sky {
	position: relative;
	display:block;
	height: 46.4em;
	background-repeat: repeat-x;
	background-color: #4ec0ca;
	background-image: url("../images/sky.png");
   	background-position: bottom; 
	transform: translateZ(0);
	-webkit-animation: animSky 600ms steps(4) infinite;
	-moz-animation: animSky 600ms steps(4) infinite;
	animation: animSky 600ms steps(4) infinite;
}

@-webkit-keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}
@-moz-keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}
@-o-keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}
@keyframes animSky {
   from { background-position: 0 bottom; }
   to { background-position: -27.6em bottom; }
}
/*
.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-ms-transform: translate(0, -40em);
	-moz-transform: translate(0, -40em);
	-o-transform: translate(0, -40em);
	transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
	-o-transition: -webkit-transform 0.5s;
	-moz-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;

}*/

/**
* Reset transform to animate it into the correct spot on the screen.
*/
/*.Scoreboard-is-visible {
	-webkit-transform: none;
	-o-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;

}*/

/*.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}*/

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.GameCanvas  {
	font-size: 10px;
	position: absolute;
	width: 102.4em;
	height: 57.6em;
	overflow: hidden;
}

.Pipes {
    position: absolute;
    top: -30.4em;
    width: 100000px;
}
.pipesContainer {
    float: left;
	display:none;
}
.pipe {
    width: 4em;
    height: 45em;
    position: relative;
    background: url('../images/pipe-b.png');
	background-size: 100%;
	transform: translateZ(0);
}
.gap {
    width: 100%;
	height: 10em;
}
.pipe-topHalf {
	background-position: bottom;
}
.pipe-bottomHalf {
	background-position: top;
}

/*.score {
	position: absolute;
	color: white;
	font-size: 4em;
	box-sizing: border-box;
	background: black;
	text-align: center;
}*/

.Settings {
	font-family: 'Conv_04B_19__';
	position: absolute;
	width: 10em;
	height: 2em;
	bottom: 0;
}

.Mute {
	background-image: url("../images/mute.png");
	background-size: 70%;
	width: 3em;
	height: 100%;
	float: left;
	background-repeat: no-repeat;
}

.Current {
	height: 100%;
	width: 100%;
	font-size: 2em;
}

.Scoreboard {
	font-family: 'Conv_04B_19__';
    position: absolute;
    left: 50%;
    top: 0em;
    height: 40em;
    width: 40em;
    margin-left: -20em;
    box-sizing: border-box;
    background: transparent;
    background-image: url('../images/scoreboard.png');
    background-size: 40em;
    text-align: center;
    -webkit-transform: translate(0, -40em);
    -webkit-transition: -webkit-transform 0.5s;
}


/**
* Reset transform to animate it into the correct spot on the screen.
*/

.Scoreboard-is-visible {
    top: 10em;
    -webkit-transform: none;
}

/*.Scoreboard-restart {
    margin-top: 5em;
    font-size: 1.5em;
    padding: 0.4em 1.5em;
    border: 0.2em solid dimgrey;
    background: none;
    cursor: pointer;
}

.Scoreboard-restartText,
.Score {
	height: 20em;
	position:relative;
    padding-top: 10em;
	margin-top: 10em;
    font-size: 2em;
    color: dimgray;
}*/
.score-value {
	display: none;
	margin-top: 7em;
	font-size: 2.5em;
	margin-left: 10em;
}
.best-value {
  display: none;
  margin-top: 2em;
  font-size: 2.5em;
  margin-left: 10em;
}
.Score {
    font-size: 5em;
    font: bold;
    color: white;
    position: absolute;
    left: 50%;
    z-index: 100;
}

.medal {
	display: none;
	background-size: 100%;
	height:7.4em;
	width: 7.4em;
	margin-top:19em;
	margin-left:5.5em;
	float: left;
}
