.Player {
	background-image: url('../images/bird.png');
	position: absolute;
	width: 3.4em;
	height: 2.4em;
	-webkit-animation: animBird 300ms steps(4) infinite;
	animation: animBird 300ms steps(4) infinite;
	transform: translateZ(0);
}

.Player-up{
	background-image: url('../images/bird-up.png');
}

.Player-down{
	background-image: url('../images/bird-down.png');
}

@-webkit-keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}
@-moz-keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}
@-o-keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}
@keyframes animBird {
   from { background-position: 0 0; }
   to { background-position: 0 -9.6em; }
}
.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}

.browsehappy {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}
.GameCanvas  {
font-size: 10px;
position: relative;
/*left: 50%;
top: 50%;*/
width: 102.4em;
height: 57.6em;
background-repeat: repeat-x;
/*margin-left: -51.2em;
margin-top: -28.8em;*/
background-color: #4ec0ca;
overflow: hidden;
background-image: url("../images/sky.png");
background-position: 0 76%;
}
.testClass {
	background-color:black;
}
/*.Pipes {
    background-image: url('../images/pipe-body.png'), url('../images/pipe-up.png'), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));

	position: absolute;
	bottom: 0;
	width: 3.4em;
	height: 10em;
	
}*/
.Ground {
	background-image: url("../images/land.png");
	bottom: 0;
	background-position: bottom;
	/*margin-top: 45.5%;*/
	position: absolute;
	background-repeat: repeat-x;
	height: 100%;
	width: 400%;
	transform: translateZ(0);
}
.Pipes {
	position: absolute;
	width: 3.4em;
	height: 15em;
	transform: translateZ(0);
}

.Pipes-up {
	background: url('../images/pipe-down.png') bottom no-repeat, url('../images/pipe-body.png') top repeat;
	top: 0;
}

.Pipes-down {
	background: url('../images/pipe-up.png') top no-repeat, url('../images/pipe-body.png') bottom repeat;
	bottom: 0;
}
.score {
	position: absolute;
	color: white;
	font-size: 4em;
	box-sizing: border-box;
	background: black;
	text-align: center;
}